.tags{
  margin-top: 10px;
  display: inline-block;
}

.tags span {
  font-family: 'Raleway';
  font-size: 0.8em;
  padding: 5px 8px;
  border-radius: 3px;
  margin-right: 6px;
  border: solid 1px #e4e4e4;
  margin-bottom: 6px;
  display: inline-block;
  color: #777;
}

.tags span:hover {
  cursor: pointer;
}
